<p style="color: green"><%= notice %></p>

<% content_for :title, "Terminologies" %>

<h1>Terminologies</h1>

<div id="terminologies">
  <% @terminologies.each do |terminology| %>
    <%= render terminology %>
    <p>
      <%= link_to "Show this terminology", terminology %>
    </p>
  <% end %>
</div>

<%= link_to "New terminology", new_terminology_path %>
