<% content_for :title, "New terminology" %>

<h1>New terminology</h1>

<%= render "form", terminology: @terminology %>

<br>

<div>
  <%= link_to "Back to terminologies", terminologies_path %>
</div>
