<section class="bg-base-100 pt-10 text-base-content">
  <div class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-2 grid-rows-2 gap-8">
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Ask Anything About Gender</h2>
        <p class="text-base-mb-6">Have a question about gender? We're here to help!</p>
        <button class="btn btn-soft btn-primary mt-4">Ask a Question</button>
      </div>
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Ask Anything About Gender</h2>
        <p class="text-base-mb-6">Have a question about gender? We're here to help!</p>
        <button class="btn btn-soft btn-secondary mt-4">Ask a Question</button>
      </div>
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Ask Anything About Gender</h2>
        <p class="text-base-mb-6">Have a question about gender? We're here to help!</p>
        <button class="btn btn-soft btn-accent mt-4">Ask a Question</button>
      </div>
      <div class="bg-base-200 backdrop-blur-sm p-8 md:p-10 rounded-2xl border border-white/20">
        <h2 class="text-2xl font-bold mb-4">Ask Anything About Gender</h2>
        <p class="text-base-mb-6">Have a question about gender? We're here to help!</p>
        <button class="btn btn-soft mt-4">Ask a Question</button>
      </div>
    </div>
  </div>
</section>